body{
  background-color: #C4DDFF;
}

h1 {
  color: #38A3A5;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-color:#005555;
  border-width: 10px;
  width: 5%;

}
table{
  margin: auto;
}
td{
  border-style: dotted;
  padding: 2px;
  border: 2px solid;
}
img{
   width:240px;
}


/*########################### id and class############*/

#center{
  text-align: center;
  padding: 10px;
}
